body {
  color: getColor('black');
  background-color: getColor('white');
  font-family: 'Roboto', sans-serif;
}

.container {
  outline: 1px solid red;

  margin: 0 auto;
  padding: 0 20px;
  outline: none;

  @include mq($width-mobile) {
    max-width: $width-mobile;
  }

  @include mq($width-tablet) {
    max-width: $width-tablet;
    padding: 0 32px;
  }

  @include mq($width-desktop) {
    max-width: $width-desktop;
  }
}
