html {
  scroll-behavior: smooth;
}

body {
  color: getColor('black');
  background-color: getColor('white');
  font-family: 'Roboto', sans-serif;
  min-height: calc(100vh - 77px);
}

body,
html {
  height: 100%;
}

.body-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 auto;
}


.container {
  margin: 0 auto;
  padding: 0 20px;

  @include mq($width-mobile) {
    max-width: $width-mobile;
  }

  @include mq($width-tablet) {
    max-width: $width-tablet;
    padding: 0 32px;
  }

  @include mq($width-desktop) {
    max-width: $width-desktop;
  }
}
