// body {
//   color: getColor('black');
//   background-color: getColor('white');
//   font-family: 'Roboto', sans-serif;

//   &::-webkit-scrollbar {
//     width: 10px;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: getColor('modal-accent');
//     border-radius: 2px;
//     height: 77px;
//   }
// }

.toggle-wrapper {
  position: relative; //! absolute
  z-index: 1;
}
.theme-toggle {
  //
  //
}

.dark body {
  background-color: black;
}
