// body {
//   color: getColor('black');
//   background-color: getColor('white');
//   font-family: 'Roboto', sans-serif;

//   &::-webkit-scrollbar {
//     width: 10px;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: getColor('modal-accent');
//     border-radius: 2px;
//     height: 77px;
//   }
// }

// =========== TOGGLE ===========

.dark body {
  background-color: black;
  color: getColor('white');
}

.toggle-wrapper {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: -30px;
  display: inline-block;

  @include mq($width-tablet) {
    right: 32px;
  }
}

.theme-toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: #1e90ff;
  transition: 0.3s;
  box-shadow: rgb(204, 219, 232) 0px 1px 4px 0px inset;
}

.theme-toggle:checked {
  background: #8b0000;
}

.theme-toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/blu-sword.svg);
  transition: $duration;
  transform: scale(2);
}

.theme-toggle:checked::before {
  left: 20px;
  background-image: url(../images/red-sword.svg);
}
