@import './base/normalize';
@import './base/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/common';
@import './utils/visually-hidden';
@import './layout/preloader';

@import './components/team-modal';
@import './components/gallery';
@import './components/footer';
