$colors: (
  'white': #fff,
  'black': #000,
  'accent': #ff6b01,
  'footer-text': #545454,
  'error-text': #ff001b,
  'modal-info': #8c8c8c,
  'modal-accent': #ff6b08,
  'footer-bgr': #f7f7f7,
  'auth-modal': #000000a0,
  'auth-cancel-btn': #757575,

  // dark theme
  'body-background': #121212,
  'elemets-background': #1f1b24,
  'modal-background': #332940,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$width-min-allowable: 320px;
$width-mobile: 440px;
$width-tablet: 768px;
$width-desktop: 1280px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

@keyframes anime {
  from {
    transform: scale(1) rotate(1deg);
  }

  to {
    transform: scale(1.5) rotate(1deg);
  }
}

@keyframes rotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(40deg);
  }
  66% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Glow {
  from {
    text-shadow: 0 0 10px getColor('error-text'), 0 0 20px getColor('error-text'),
      0 0 30px getColor('error-text'), 0 0 40px getColor('error-text'), 0 0 70px getColor('error-text'),
      0 0 80px getColor('error-text'), 0 0 100px getColor('error-text'), 0 0 150px getColor('error-text');
  }

  to {
    text-shadow: 0 0 5px getColor('error-text'), 0 0 10px getColor('error-text'),
      0 0 15px getColor('error-text'), 0 0 20px getColor('error-text'), 0 0 35px getColor('error-text'),
      0 0 40px getColor('error-text'), 0 0 50px getColor('error-text'), 0 0 75px getColor('error-text');
  }
}