<div data-modal class="backdrop is-hidden">
  <div class="lib-modal">
    <button class="lib_modal-close-btn" data-modal-close>
      <svg class="lib_button-close__icon-close" width="10" height="10">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="lib-modal-content">
      <p class="lib-modal-content__text">
        Nothing to see here<br />Add a movie please
      </p>
      <img
        class="lib-modal-content__img"
        src="./images/lib-modal/freaking-out-tweek-tweak.gif"
        alt="freaking-out-tweek-tweak"
      />
      <!-- <p class="lib-modal-content__text-small">you might like this movie:</p> -->
    </div>
    <div class="proposed-card"></div>

    <button
      type="button"
      class="header-button current addToQueue"
      data-activ="queue"
    >
      Add To Queue
    </button>
  </div>
</div>
