<form class="container filter-container is-hidden-filter" id="filter-form">
  <ul class="filters">
    <li class="filters__list">
      <select class="js-filter-genres filters__item" name="select-genre">
        <option value="" selected>All Genres:</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="js-filter-vote_average filters__item">
        <option value="" selected>All Votes Average</option>
        <option value="10">10</option>
        <option value="9">9+</option>
        <option value="8">8+</option>
        <option value="7">7+</option>
        <option value="6">6+</option>
        <option value="5">5+</option>
        <option value="4">4+</option>
        <option value="3">3+</option>
        <option value="2">2+</option>
        <option value="1">1+</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="js-filter-years filters__item"></select>
    </li>
    <li class="filters__btn-close">
      <button class="filters__reset" type="reset">
        <svg class="filters__icon-close" width="20" height="20">
          <use href="./images/sprite.svg#icon-clear"></use>
        </svg>
      </button>
    </li>
  </ul>
</form>
