<div class="gallery-container container">
  <div class="plug"></div>
  <ul class="collection_list">
    <!-- <li class="collection_item">
        <article class="card" data-id=${id}>
        <a href="" class="card_link">
        <img class="card_img" width="394" src=${url} alt="{original_title}">
        </a>
            <div class="card-wrap">
              <h3 class="card-name">${original_title}</h3>
              <p class="card-genres">${genresNames} | ${date}</p>
            </div>
        </article>
        </li> -->
  </ul>
</div>
