<div class="gallery-container container">
  <ul class="collection_list">
    <!-- <li class="collection_item">
            <article class="card" data-id="">
                <a href="" class="card_link">
                    <img class="card_img" width="395"src="/src/images/team-10x/unnamed.png" alt="">
                </a>
                <div class="card-wrap">
                    <h3 class="card-name">Film 1 name</h3>
                    <p class="card-genres">Genres | Date</p>
                </div>
            </article>
        </li> -->
  </ul>
</div>
