<header class="header">
  <div class="container header__container">
    <div class="wrapper">
      <a class="logo wrapper" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use
            class="animate__animated animate__flipOutX"
            href="./images/sprite.svg#icon-film"
          ></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a
              class="navigation__link current"
              href="./index.html"
              id="home-link"
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#" id="my-library-link"
              >My library</a
            >
          </li>
        </ul>
      </nav>

      <div class="wrapper--log-buttons">
        <button
          type="button"
          class="header__log-button visually-hidden"
          data-action="login"
        >
          <svg width="20" height="20">
            <use
              class="header__icon-login"
              href="./images/sprite.svg#icon-login"
            ></use>
          </svg>
        </button>
        <button
          type="button"
          class="header__log-button visually-hidden"
          data-action="logout"
        >
          <svg width="20" height="20">
            <use
              class="header__icon-login"
              href="./images/sprite.svg#icon-logout"
            ></use>
          </svg>
        </button>
      </div>
    </div>

    <form class="search-form" id="search-form">
      <div class="wrapper wrapper--input">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          id="searchQuery"
          placeholder="&nbsp;"
        />

        <label class="search-form__label" for="searchQuery">Movie search</label>

        <button type="submit" class="search-form__submit" data-activ="search">
          <!-- <svg class="search-form__icon" width="14" height="14">
            <use
              class="search-form__icon--search"
              href="./images/sprite.svg#icon-search"
            ></use>
            <-- <use
                class="search-form__icon--spinner is-hidden"
                href="./img/icon.svg#spinner"
              ></use> -->
          <!-- </svg> -->
        </button>
      </div>

      <p class="search-form__warning">
        Search result not successful. Enter the correct movie name and try
        again.
      </p>
    </form>

    <div class="wrapper wrapper--buttons">
      <button
        type="button"
        class="header-button current visually-hidden"
        data-activ="watched"
      >
        Watched
      </button>
      <button
        type="button"
        class="header-button visually-hidden"
        data-activ="queue"
      >
        Queue
      </button>
    </div>
  </div>
</header>
