<header class="header">
  <div class="container header__container">
    <div class="wrapper">
      <a class="logo wrapper" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use
            class="animate__animated animate__flipOutX"
            href="./images/sprite.svg#icon-film"
          ></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a
              class="navigation__link current"
              href="./index.html"
              id="home-link"
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#" id="my-library-link"
              >My library</a
            >
          </li>
        </ul>
      </nav>

      <div class="wrapper--log-buttons">
        <button
          type="button"
          class="header__log-button visually-hidden"
          data-action="login"
        >
          <svg width="20" height="20">
            <use
              class="header__icon-login"
              href="./images/sprite.svg#icon-login"
            ></use>
          </svg>
        </button>
        <button
          type="button"
          class="header__log-button visually-hidden"
          data-action="logout"
        >
          <svg width="20" height="20">
            <use
              class="header__icon-login"
              href="./images/sprite.svg#icon-logout"
            ></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="filter__wrapper">
      <button type="button" style="font-size: 30px" class="filter__btn">
        <span class="filter__text">Filter</span>
        <svg class="filter__icon" width="16" height="16">
          <use href="./images/sprite.svg#icon-filter"></use>
        </svg>
      </button>
    </div>

    <form class="search-form" id="search-form">
      <div class="wrapper wrapper--input">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          id="searchQuery"
          placeholder="&nbsp;"
        />

        <label class="search-form__label" for="searchQuery">Movie search</label>

        <button
          type="submit"
          class="search-form__submit"
          data-activ="search"
        ></button>
      </div>

      <p class="search-form__warning">
        Search result not successful. Enter the correct movie name and try
        again.
      </p>
    </form>

    <div class="wrapper wrapper--buttons">
      <button
        type="button"
        class="header-button current visually-hidden"
        data-activ="watched"
      >
        Watched
      </button>
      <button
        type="button"
        class="header-button visually-hidden"
        data-activ="queue"
      >
        Queue
      </button>
    </div>

    <fieldset class="switcher">
      <legend class="switcher__legend">Theme</legend>
      <input
        class="switcher__radio switcher__radio--light"
        type="radio"
        name="color-theme"
        value="light"
      />
      <input
        class="switcher__radio switcher__radio--dark"
        type="radio"
        name="color-theme"
        value="dark"
      />
      <div class="switcher__status"></div>
    </fieldset>
  </div>
</header>
