<div class="movie-backdrop visually-hidden">
  <div class="movie-modal">
    <button class="modal-close-btn" data-modal-close>
      <svg class="modal-close-btn__icon-close" width="30" height="30">
        <use href="./images/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="movie-modal__container">
      <!-- <div class="movie-card">
      <div class="cardItem__image">
        <img class="image" src="./images/test for modal.jpg" alt="" />
      </div>

      <div class="cardItem__wrapper">
        <h2 class="cardItem__name">A FISTFUL OF LEAD</h2>
        <p class="cardItem__text">
          Vote / Votes<span class="cardItem__averageVote">7.0</span>/<span
            class="cardItem__countVote"
            >1200</span
          >
        </p>
        <p class="cardItem__text">
          Popularity<span class="cardItem__data">Popularity</span>
        </p>
        <p class="cardItem__text">
          Original Title<span class="cardItem__title">Title</span>
        </p>
        <div class="genres">
          <p class="cardItem__text">Genre</p>
          <p class="cardItem__genreList">Genre</p>
        </div>

        <p class="cardItem__about">About</p>
        <p class="cardItem__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus
          minus, distinctio quo quia blanditiis dignissimos ut commodi sed
          incidunt cum voluptatem non delectus sint eum repudiandae dicta dolore
          placeat. Perferendis.
        </p>
      </div>
    </div> -->
    </div>
  </div>
</div>
