<div class="pagin_box container">
  <button type="submit" class="pagin_button pagin_button_left pagin_button_el_1">
    <svg>
      <use href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <button type="submit" class="pagin_button pagin_button_el_2"></button>
  <p class="pagin_nothing pagin_button_el_3">...</p>
  <button type="submit" class="pagin_button pagin_button_el_4"></button>
  <button type="submit" class="pagin_button pagin_button_el_5"></button>
  <button type="submit" class="pagin_button pagin_button_el_6"></button>
  <button type="submit" class="pagin_button pagin_button_el_7"></button>
  <button type="submit" class="pagin_button pagin_button_el_8"></button>
  <p class="pagin_nothing pagin_button_el_9">...</p>
  <button type="submit" class="pagin_button pagin_button_el_10"></button>
  <button type="submit" class="pagin_button pagin_button_rigth pagin_button_el_11">
    <svg>
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>