<div class="pagin_box container">
  <button type="submit" class="paginButton paginButtonLeft">
    <svg class="paginSvg">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <button type="submit" class="paginButton paginButtonMinPage"></button>
  <p class="pagin_nothing paginButtonElementLeft">...</p>
  <button type="submit" class="paginButton paginButtonPageRemove_4"></button>
  <button type="submit" class="paginButton paginButtonPageRemove_3"></button>
  <button type="submit" class="paginButton paginButtonPageRemove_2"></button>
  <button type="submit" class="paginButton paginButtonPageRemove_1"></button>
  <button type="submit" class="paginButton paginButtonPage paginAccent"></button>
  <button type="submit" class="paginButton paginButtonPageAdd_1"></button>
  <button type="submit" class="paginButton paginButtonPageAdd_2"></button>
  <button type="submit" class="paginButton paginButtonPageAdd_3"></button>
  <button type="submit" class="paginButton paginButtonPageAdd_4"></button>
  <p class="pagin_nothing paginButtonElementRigth">...</p>
  <button type="submit" class="paginButton paginButtonMaxPage"></button>
  <button type="submit" class="paginButton paginButtonRigth">
    <svg class="paginSvg">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>