<div class="team-backdrop visually-hidden" data-team-modal>
  <div class="team-modal">
    <div class="team-modal__decor">
      <h2 class="team-modal__title">Team by 10x</h2>
      <button type="button" class="team-modal__button" data-team-modal-close>
        <svg class="team-modal__icon" width="15" height="15">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="team-list">
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/anna.jpg"
            alt="Team Lead"
          />
          <div class="author">
            <h3 class="author__name">Hanna Bramarova</h3>
            <p class="author__role">Team Lead</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/annabramarova"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/sofiia.jpg"
            alt="Scrum Master"
          />
          <div class="author">
            <h3 class="author__name">Sofiia Hakalo</h3>
            <p class="author__role">Scrum Master</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/sofiagakalo1"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/avatar.png"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Serhei Honcharov</h3>
            <p class="author__role">Tech Lead</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/mrSedmor"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/igor.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Ihor Bielous</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/beligrous"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/viktor.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">ViktorZvonar</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/ViktorZvonar"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/stepan.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Stepan Drimak</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/Drimak-Stepan"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/nikolay.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Nikolay Dvoinikh</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/NikolayDvoinikh"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/mykola.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Mykola Kovbasynskyi</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/Niko123454321"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/dmytro.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Dmytro Markov</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/DimaMarkow"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="./images/team-10x/volodymyr.jpg"
            alt="Front-end developer"
          />
          <div class="author">
            <h3 class="author__name">Volodymyr Kudriavtsev</h3>
            <p class="author__role">Developer</p>
            <ul class="soc list">
              <li class="soc__item">
                <a
                  href="https://github.com/volodymyrKudriavtsev"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="soc__link link"
                >
                  <svg class="soc__icon" width="20" height="20">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
