.arrow-area {
  position: relative;
}
.arrow-ref {
  display: none;
  padding: 5px;
  position: fixed;
  right: 5px;
  top: 67%;
  animation-name: red_arrow;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  border-radius: 50%;
  animation-direction: alternate;
  transform: rotateX(0.5turn);

  transition-duration: 700ms;
}
.arrow-visible {
  display: inline;
}
.arrow-ref:hover,
.arrow-ref:focus {
  transform: rotateX(1turn);

  transition-duration: 700ms;
}

@keyframes red_arrow {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}
