.gallery-container {
  @include mq($until: $width-tablet) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}
.collection_list {
  display: flex;
  flex-wrap: wrap;

  @include mq($from: $width-min-allowable, $until: $width-tablet) {
    row-gap: 20px;
  }
  @include mq($from: $width-tablet, $until: $width-desktop) {
    column-gap: 32px;
    row-gap: 32px;
  }
  @include mq($from: $width-desktop) {
    column-gap: 16px;
    row-gap: 32px;
  }
}
.collection_item {
  @include mq($from: $width-min-allowable, $until: $width-tablet) {
    width: 100%;
  }
  @include mq($from: $width-tablet, $until: $width-desktop) {
    width: calc((100% - 32px) / 2);
  }
  @include mq($from: $width-desktop) {
    width: calc((100% - 32px) / 3);
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  font-weight: 500;

  transition-property: transform;
  transition-duration: 1000ms;
  cursor: pointer;

  @include mq($from: $width-min-allowable, $until: $width-tablet) {
    gap: 10px;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  @include mq($from: $width-tablet, $until: $width-desktop) {
    font-size: 12px;
    line-height: calc(16 / 12);
    gap: 8px;
  }
  @include mq($from: $width-desktop) {
    font-size: 20px;
    line-height: calc(24 / 20);
    gap: 12px;
  }
}
.card:hover {
  transform: scale(1.05);
}
.card_img {
  border-radius: 5px;
  aspect-ratio: 394/596;
}
.card_no-img {
  width: auto;
  max-width: 394px;
  height: auto;
  aspect-ratio: 394/596;
}
.card-name {
  text-transform: uppercase;
}
.card-genres {
  color: getColor('modal-accent');
}
.card-rating {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 5px 10px;

  border-radius: 10px;

  background-color: getColor('modal-accent');
  color: getColor('white');
}
