.gallery-container {
  @include mq($until: $width-tablet) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}
.collection_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

  @include mq($from: $width-tablet) {
    column-gap: 32px;
    row-gap: 32px;
  }

  @include mq($from: $width-desktop) {
    column-gap: 16px;
    row-gap: 32px;
  }
}
.collection_item {
  width: 100%;

  @include mq($from: $width-tablet) {
    width: calc((100% + 32px) / 2 - 32px);
  }

  @include mq($from: $width-desktop) {
    width: calc((100% + 16px) / 3 - 16px);
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  font-weight: 500;

  transition-property: transform;
  transition-duration: 1000ms;
  cursor: pointer;

  gap: 10px;
  font-size: 12px;
  line-height: calc(14 / 12);

  @include mq($from: $width-tablet) {
    font-size: 12px;
    line-height: calc(16 / 12);
    gap: 8px;
  }
  @include mq($from: $width-desktop) {
    font-size: 20px;
    line-height: calc(24 / 20);
    gap: 12px;
  }
}
.card:hover {
  transform: scale(1.05);
}
.card_img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 280/398;

  @include mq($from: $width-tablet) {
    aspect-ratio: 336/455;
  }
  @include mq($from: $width-desktop) {
    aspect-ratio: 394/574;
  }
}
.card_no-img {
  width: 100%;
  aspect-ratio: 280/398;
  object-fit: cover;

  @include mq($from: $width-tablet) {
    aspect-ratio: 336/455;
  }
  @include mq($from: $width-desktop) {
    aspect-ratio: 394/574;
  }
}
.card-name {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-genres {
  color: getColor('modal-accent');
}
.card-rating {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 5px 10px;

  border-radius: 10px;

  background-color: getColor('modal-accent');
  color: getColor('white');
}
