// ----------MAIN STYLES----------

header {
  min-width: 320px;
  height: 230px;
  padding-top: 40px;
  padding-bottom: 45px;
  font-weight: 500;
  line-height: 1.17;

  background-color: rgba(0, 0, 0, 0.7);
  color: getColor('white');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/main/main-bg-mob.jpg);
  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/main/main-bg-mob@2x.jpg);
  }

  @include mq($width-tablet) {
    height: 216px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/main/main-bg-tablet.jpg);
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../images/main/main-bg-tablet@2x.jpg);
    }
  }

  @include mq($width-desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/main/main-bg-desktop.jpg);
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../images/main/main-bg-desktop@2x.jpg);
    }
  }

  a {
    outline: none;
  }
}

.logo__text {
  display: none;
  margin-left: 10px;
  font-size: 30px;

  @include mq($width-tablet) {
    display: block;
  }
}

.navigation {
  margin-left: auto;
  font-size: 12px;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:last-child {
  margin-left: 35px;
}

.navigation__link {
  position: relative;
  padding: 5px 2px;
  border-radius: 5px;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.navigation__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  opacity: 1;
  background-color: getColor('error-text');
}

.wrapper--log-buttons {
  display: flex;
}

.header__log-button {
  margin-left: 4px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  outline: none;
  background: inherit;
  fill: getColor('white');
  cursor: pointer;
  transition: fill $duration $timing-function;

  &:hover,
  &:focus {
    fill: getColor('accent');
  }
}

.search-form {
  width: 100%;
  margin-top: 60px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;

  @include mq($width-tablet) {
    margin-top: 40px;
  }
}

.search-form__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition-property: color, transform;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  .search-form:focus-within & {
    color: getColor('accent');
    transform: translateY(-200%);
  }

  .search-form__input:not(:placeholder-shown) + & {
    color: getColor('accent');
    transform: translateY(-200%);
  }
}

.search-form__input {
  min-width: 255px;
  height: 30px;
  border: none;
  outline: none;
  color: getColor('white');
  border-bottom: 1px solid getColor('white');
  background: inherit;

  @include mq($width-mobile) {
    width: 310px;
  }

  @include mq($width-desktop) {
    width: 370px;
  }
}

.wrapper--input {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
}

.search-form__submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid getColor('white');
  transition-property: background-color, border-bottom, border-radius;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: getColor('accent');
    border-bottom: 1px solid var(--acent-color);
    border-radius: 50px;
  }
}

.search-form__warning {
  margin-top: 16px;
  color: getColor('error-text');

  @include mq($width-tablet) {
    margin-top: 20px;
  }
}

// ----------MY-LIB HEADER STYLES----------

.header--my-library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/my-library/library-bg-mob.jpg);
  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/my-library/library-bg-mob@2x.jpg);
  }

  @include mq($width-mobile) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/my-library/library-bg-tablet.jpg);
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/my-library/library-bg-tablet@2x.jpg);
    }
  }

  @include mq($width-desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/my-library/library-bg-desktop.jpg);
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/my-library/library-bg-desktop@2x.jpg);
    }
  }
}

.wrapper--buttons {
  justify-content: center;
  gap: 20px;

  @include mq($width-tablet) {
    gap: 32px;
  }

  @include mq($width-desktop) {
    gap: 16px;
  }
}

.header-button {
  position: relative;
  margin-top: 60px;
  font-size: 12px;
  font-weight: inherit;
  line-height: 1.33;
  text-transform: uppercase;
  color: getColor('white');
  background-color: inherit;
  border: 1px solid getColor('white');
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition-property: color, border-color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  @include mq($width-tablet) {
    margin-top: 40px;
  }

  &:hover,
  &:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }

  &.current {
    background-color: getColor('accent');
    border-color: getColor('accent');
    color: getColor('white');
    transition-property: background-color, border-color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      background-color: getColor('error-text');
      border-color: getColor('error-text');
    }
  }
}

[data-activ='watched'] {
  padding: 12px 35px;

  @media screen and (min-width: 768px) {
    padding: 12px 46px;
  }

  @media screen and (min-width: 1280px) {
    padding: 11px 44px;
  }
}

[data-activ='queue'] {
  padding: 12px 44px;

  @media screen and (min-width: 768px) {
    padding: 12px 55px;
  }

  @media screen and (min-width: 1280px) {
    padding: 11px 53px;
  }
}
