body.modal-open {
  overflow: hidden;
}

.movie-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  z-index: 999;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.movie-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  background-color: getColor('white');

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  min-width: 280px;
  max-width: 100%;
  overflow-y: scroll;
    max-height: 95vh;
  padding: 48px 20px 40px 20px;

  @include mq($from: $width-tablet, $until: $width-desktop) {
    width: 704px;
    height: 552px;
    padding: 40px 36px 40px 72px;
  }

  @include mq($from: $width-desktop) {
    width: 806px;
    height: 558px;
    padding: 40px 12px 40px 12px;
  }
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 0;
  border: none;
  background-color: getColor('white');
  cursor: pointer;
}

.modal-close-btn__icon-close {
  stroke: getColor('black');
  stroke-width: 2px;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close-btn:focus &,
  .modal-close-btn:hover & {
    stroke: getColor('modal-accent');
  }
}

.modal-btn__wrapper {
  display: flex;
  position: absolute;
  // justify-content: start;
  // align-items: flex-end;
  // margin-top: 20px;
  // margin-left: auto;
  // margin-right: auto;
  @include mq($from: $width-min-allowable, $until: $width-tablet) {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq($from: $width-tablet, $until: $width-desktop) {
    bottom: 40px;
    right: 72px;
  }

  @include mq($from: $width-desktop) {
    bottom: 111px;
    right: 108px;
  }
}

.modal-btn {
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: getColor('modal-info');
    color: getColor('white');
  }

  @include mq($from: $width-desktop) {
    width: 136px;
  }
}

.modal-btn__watched {
  background-color: getColor('modal-accent');
  color: getColor('white');
  border: none;
  margin-right: 15px;
}

.modal-btn__queue {
  background-color: getColor('white');
  color: getColor('black');
  border: 1px solid getColor('black');
}

.movie-card {
  @include mq($from: $width-tablet) {
    display: flex;
  }
}

.cardItem__wrapper {
  width: 240px;
  @include mq($from: $width-desktop) {
    width: 391px;
  }
}

.cardItem__image {
  width: 240px;
  height: 357px;
  margin-bottom: 20px;

  @include mq($from: $width-tablet, $until: $width-desktop) {
    width: 264px;
    height: 373.55px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  @include mq($from: $width-desktop) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.image {
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;
  @include mq($from: $width-tablet, $until: $width-desktop) {
    width: 264px;
    height: 373.55px;
  }
  @include mq($from: $width-desktop) {
    width: 375px;
    height: 478px;
  }
}

.cardItem__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: getColor('black');

  @include mq($from: $width-desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.cardItem__text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;

  color: getColor('modal-info');
  margin-bottom: 8px;

  @include mq($from: $width-desktop) {
  }
}

.cardItem__averageVote {
  display: inline-block;
  margin-left: 41px;
  margin-right: 4px;
  background-color: getColor('modal-accent');
  border-radius: 5px;
  color: getColor('white');
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.17;
  padding: 1px 9px 1px 10px;

  @include mq($from: $width-desktop) {
    margin-left: 85px;
  }
}

.cardItem__countVote {
  display: inline-block;
  margin-left: 3px;
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  line-height: 1.17;
}

.cardItem__data {
  margin-left: 53px;
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  @include mq($from: $width-desktop) {
    margin-left: 97px;
  }
}

.cardItem__title {
  margin-left: 39px;
  text-transform: uppercase;
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include mq($from: $width-desktop) {
    margin-left: 83px;
  }
}

.genres {
  display: flex;
}

.cardItem__genre {
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: getColor('modal-info');
  display: inline-block;
}

.cardItem {
  display: flex;
}

.cardItem__genreList {
  margin-left: 76px;
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  @include mq($from: $width-desktop) {
    margin-left: 120px;
  }
}

.cardItem__about {
  text-transform: uppercase;
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 20px;
  margin-bottom: 8px;
}

.cardItem__description {
  color: getColor('black');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}

//   .cardItem__wrapper {
//     width: 370px;
//     padding: 10px;
//     margin-left: 30px;
//   .cardItem__wrapper {
//     width: 370px;
//     padding: 10px;
//     margin-left: 30px;
//   }

// .cardItem__wrapper p {
//   font-size: 12px;
//   font-weight: 500;

//   font-family: 'Roboto';
//   line-height: 1.333;
//   margin-bottom: 18px;
//   letter-spacing: 1px;
// }

// @media screen and (min-width: 768px) {
//   .movie-card {
//     background-color: #ffffff;
//     width: 720px;
//     margin-top: 0px;
//     display: flex;
//   }

//   .cardItem__name {
//     font-size: 25px;
//     line-height: 35px;
//   }
// }

// @media (min-width: 1024px) {
//   .modal-card {
//     background-color: #ffffff;
//     width: 810px;
//     margin-top: 0px;
//     display: flex;
//   }
//   .image {
//     display: block;
//     width: auto;
//     height: auto;
//     padding-top: 10px;
//     border-radius: 5px;
//   }

//   .cardItem__wrapper {
//     width: 423px;
//   }

// }
