.movie-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  z-index: 1;

  &.visually-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    .movie-modal {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
  }
}

.movie-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  outline: tomato solid 1px;

  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px 12px 40px 12px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  width: 806px;
  height: 558px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 0;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.modal-close-btn__icon-close {
  stroke: black;
  stroke-width: 2px;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close-btn:focus &,
  .modal-close-btn:hover & {
    stroke: blue;
  }
}

.movie-card {
  display: flex;
}

.cardItem__wrapper {
  width: 391;
}

.cardItem__image {
  width: 375px;
  height: 100%;
  margin-right: 16px;
}

.cardItem__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.cardItem__text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  margin-bottom: 8px;
}

.cardItem__averageVote {
  display: inline-block;
  margin-left: 85px;
  margin-right: 3px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: #ffff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.17;
  padding: 1px 10px 1px 10px;
}

.cardItem__countVote {
  display: inline-block;
  margin-left: 3px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  background-color: #ffff;
  border-radius: 5px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  line-height: 1.17;
}

.cardItem__data {
  margin-left: 97px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.cardItem__title {
  margin-left: 83px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.genres {
  display: flex;
}

.cardItem__genre {
  display: inline-block;
  margin-right: 90px;
}

.cardItem {
  display: flex;
}

.cardItem__genreList {
  margin-left: 120px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.cardItem__about {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 20px;
  margin-bottom: 8px;
}

.cardItem__description {
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}

//   .cardItem__wrapper {
//     width: 370px;
//     padding: 10px;
//     margin-left: 30px;
//   }

// .cardItem__wrapper p {
//   font-size: 12px;
//   font-weight: 500;

//   font-family: 'Roboto';
//   line-height: 1.333;
//   margin-bottom: 18px;
//   letter-spacing: 1px;
// }

// @media screen and (min-width: 768px) {
//   .movie-card {
//     background-color: #ffffff;
//     width: 720px;
//     margin-top: 0px;
//     display: flex;
//   }

//   .cardItem__name {
//     font-size: 25px;
//     line-height: 35px;
//   }
// }

// @media (min-width: 1024px) {
//   .modal-card {
//     background-color: #ffffff;
//     width: 810px;
//     margin-top: 0px;
//     display: flex;
//   }
//   .image {
//     display: block;
//     width: auto;
//     height: auto;
//     padding-top: 10px;
//     border-radius: 5px;
//   }

//   .cardItem__wrapper {
//     width: 423px;
//   }

// }
