.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.pagin_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  column-gap: 3px;

  @include mq($width-tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.pagin_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 40px;
  height: 40px;

  border: none;
  outline: none;
  background-color: transparent;
  color: getColor('black');
  border-radius: 5px;

  margin: 1px;

  overflow: hidden;

  transition-property: background-color color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  &:focus {
      background-color: getColor('error-text');
      color: getColor('white');
    }
  
    @media (hover: hover) {
      &:hover {
        background-color: getColor('error-text');
        color: getColor('white');
      }
    }
}



.pagin_nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border-color: transparent;
  color: getColor('black');
}

.pagin_accent {
  background-color: getColor('modal-accent');
  color: getColor('white');
  transition: background-color $duration $timing-function;
  &:hover,
  &:focus {
    background-color: getColor('error-text');
  }
}

.pagin_button_left,
.pagin_button_rigth {
  font-size: large;
  background-color: getColor('footer-bgr');
  fill: getColor('black');
  transition: fill $duration $timing-function;
  &:hover,
  &:focus {
    fill: getColor('white');
    background-color: getColor('error-text');
  }
}

.pagin_svg {
  pointer-events: none;
  width: 16px;
  height: 16px;
}
