.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.pagin_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  column-gap: 3px;

  @include mq($width-tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
    }
}

.pagin_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 40px;
  height: 40px;

  border: none;
background-color: transparent;
color: getColor('black');
border-radius: 5px;

margin: 1px;

    &:hover,
      &:focus {
    background-color: getColor('error-text');
    color: getColor('white');
    } 
}

.pagin_nothing {
  display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  
    width: 40px;
    height: 40px;

  background-color: transparent;
  border-color: transparent;
  color: getColor('black');
}

.pagin_accent {
  background-color: getColor('modal-accent');
  color: getColor('white');
}

.pagin_button_left{
background-color: getColor('footer-bgr');
color: getColor('black');
}

.pagin_button_rigth{
  position: relative;
  background-color: getColor('footer-bgr');
  color: getColor('black');
  display: flex;
    align-items: center;
}

.pagin__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    // fill: currentColor;
    fill: getColor('black');
  }