.team-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 22;
  opacity: 1;
  transition: opacity $duration $timing-function,
    visibility $duration $timing-function;

  &.visually-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.visually-hidden > .team-modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.no-scroll {
  overflow: hidden;
}

.team-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  max-height: 95vh;
  padding: 5px;
  background-color: getColor('white');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  opacity: 1;
  transition: transform 600ms, opacity $duration $timing-function;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: getColor('modal-accent');
    border-radius: 14px;
  }

  &__title {
    text-align: center;
    border-radius: 14px;
    padding: 5px;
    font-weight: 500;
    line-height: 1.15;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: inherit;
    box-shadow: 0px 1px 3px 0px getColor('modal-info');

    &:hover {
      box-shadow: 0px 4px 4px #5daadd;
      background-color: getColor('modal-accent');
    }
  }
}

.team-modal__button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: getColor('white');
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
}

.team-modal__icon {
  fill: getColor('black');
  transition: fill $duration $timing-function;
  display: block;
  .team-modal__button:hover > &,
  .team-modal__button:focus > & {
    fill: getColor('modal-accent');
  }
}

.team-list__item {
  height: 235px;
  min-width: 150px;
  position: relative;
  display: flex;
  margin: 10px;
  flex-direction: column;
  background-color: getColor('footer-bgr');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 3px 3px;
  border-radius: 45px;
  // overflow: hidden;
  transition: box-shadow $duration $timing-function,
    background-color $duration $timing-function;

  &:hover {
    box-shadow: 0px 4px 4px #5daadd;
    background-color: getColor('modal-accent');
  }
}

.author__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.author__role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 10px;
}

.team-list__img {
  display: block;
  min-width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 5px;
}

.soc__link {
  position: absolute;
  bottom: 90px;
  left: 12px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color $duration $timing-function,
    fill $duration $timing-function;

  &:hover,
  &:focus {
    outline: transparent;
    fill: black;
    background-color: white;
  }
}

@include mq($from: $width-mobile, $until: $width-tablet) {
  .team-list__item {
    width: 180px;
  }
  .team-list__img {
    width: 150px;
  }
}

@include mq($from: $width-tablet) {
  .team-modal {
    width: 410px;
    &__title {
      font-weight: 700;
      font-size: 30px;
    }
  }

  .team-modal__button {
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-list__item {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }

  .soc__link {
    width: 30px;
    height: 30px;
  }
}

@include mq($from: $width-desktop) {
  .team-modal {
    width: 930px;
    max-height: 90vh;
  }

  .team-list__item {
    padding-top: 0;
    width: calc((100% - 80px) / 5);
  }

  .team-list__img {
    margin-top: 5px;
  }
  .author__role {
    margin-bottom: 0;
  }
  .author__name {
    font-weight: 700;
    height: 39px;
  }
}
