body.modal-open-team {
  overflow: hidden;
}

.team-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 32;

  opacity: 1;
  visibility: visible;

  transition: opacity $duration $timing-function,
    visibility $duration $timing-function;

  &.visually-team-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.visually-team-hidden > .team-modal {
    transform: translate(-50%);
  }
}

.team-modal {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  max-width: 200px;
  max-height: 96vh;
  padding: 5px;
  background-color: getColor('white');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;

  transform: translate(-50%, -50%);
  transition: transform $duration $timing-function;
  &__decor {
    flex-shrink: 0;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 14px;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.15;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: getColor('black');

    background-color: getColor('footer-bgr');
    box-shadow: 0px 1px 3px 0px getColor('modal-info');

    transition: background-color $duration $timing-function,
      box-shadow $duration $timing-function;

    &:hover {
      box-shadow: 0px 4px 4px #5daadd;
      background-color: getColor('modal-accent');
    }
  }
}

.team-modal__button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: getColor('white');
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
}

.team-modal__icon {
  fill: getColor('black');
  transition: fill $duration $timing-function;
  display: block;
  .team-modal__button:hover > &,
  .team-modal__button:focus > & {
    fill: getColor('modal-accent');
  }
}

.team-list {
  max-height: calc(100% - 35px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: getColor('modal-accent');
    border-radius: 14px;
  }
}
.team-list__item {
  height: 225px;
  min-width: 150px;
  position: relative;
  display: flex;
  margin: 10px 5px;
  flex-direction: column;
  background-color: getColor('footer-bgr');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 45px;
  transition: box-shadow $duration $timing-function,
    background-color $duration $timing-function;

  &:hover {
    box-shadow: 0px 4px 4px #5daadd;
    background-color: getColor('modal-accent');
  }
}

.author__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.author__role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 10px;
}

.team-list__img {
  display: block;
  min-width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 5px;
}

.soc__link {
  position: absolute;
  bottom: 90px;
  left: 12px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color $duration $timing-function,
    fill $duration $timing-function;

  &:hover,
  &:focus {
    outline: transparent;
    fill: black;
    background-color: white;
  }
}

@include mq($from: $width-mobile) {
  .team-list__item {
    width: 180px;
  }
  .team-list__img {
    width: 150px;
  }
}

@include mq($from: $width-tablet) {
  .team-modal {
    max-width: 410px;
    padding: 10px;
    max-height: 98vh;

    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 30px;
    }
  }

  .team-modal__button {
    top: 17px;
    right: 16px;
    width: 30px;
    height: 30px;
  }

  .team-list {
    max-height: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
  }

  .team-list__item {
    height: 210px;
    width: 185px;
    margin: 5px;
  }

  .soc__link {
    bottom: 70px;
    left: 12px;
    width: 30px;
    height: 30px;
  }
}

@include mq($from: $width-desktop) {
  .team-modal {
    max-width: 930px;
    padding-bottom: 0;
  }

  .team-list__item {
    margin: 0px 8px 15px;
    height: 230px;
    width: calc((100% - 80px) / 5);
  }

  .author__role {
    margin-bottom: 0;
  }
  .author__name {
    font-weight: 700;
    height: 39px;
  }
  .soc__link {
    bottom: 80px;
    left: 12px;
  }
}
