.trailer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.trailer-button {
  background-color: transparent;
  color: getColor('modal-accent');
  transition: color 500ms, transform 500ms;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.trailer-button:hover,
.trailer-button:focus {
  color: #ff4001;
  transform: translate(-50%, -50%) scale(1.1);
}
.hidden-trailer {
  display: none;
}

.play-icon {
  fill: currentColor;
}
